SERVICE_NAME=feed-service
APP_ENV=development
PORT=8084
LOG_LEVEL=info
HTTP_READ_TIMEOUT=10
HTTP_WRITE_TIMEOUT=10
HTTP_IDLE_TIMEOUT=60
REDIS_HOST=redis
REDIS_PORT=6379
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_POST_CREATED=post.created
KAFKA_TOPIC_USER_FOLLOWED=user.followed
